@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-4">
    <h1 id="header" class="display-4">Image Uploads</h1>
    <form id='form'
          enctype="multipart/form-data"
          hx-encoding='multipart/form-data'
          method="POST"
          asp-page="Index"
          asp-page-handler="Upload"
          hx-post
          hx-page="Index" hx-page-handler="Upload"
          hx-swap="outerHTML"
          hx-target="#cards">
        <div class="input-group">
            <input name="file" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <button class="btn btn-outline-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
        </div>
    </form>
</div>

@await Html.PartialAsync("_Images")